<div id="inventory" class="inventoryBuildingBlock">
    <div class="row">
        {{#each items}}
            <div class="inventoryItem col-md-2 {{this.quality}}" id="inventoryItem{{@index}}" data-keywords="{{this.keywords}}" data-exterior="{{this.exterior}}" data-category="{{this.category}}" data-weapon="{{this.weapon}}">
                <h5>
                    {{this.name}}
                </h5>
                <p>{{this.exterior}}</p>
                    <img src="{{this.icon}}" alt="{{this.name}}">
                <p>
                    <!--<a href="{{this.inspectLink}}"><i class="fa fa-eye 2-x" aria-hidden="true"></i></a> <a href="{{this.marketlink}}"><i class="fa fa-chart-line 2-x" aria-hidden="true"></i></a>-->
                    <a class="inspect" href="{{this.inspectLink}}">Inspect</a> <span>&nbsp;</span> <a class="inspect" href="{{this.marketlink}}">Market</a>
                </p>
                <p class="nametag">
                    {{this.nametag}}
                </p>
                <p class = "tradability">
                    {{this.tradability}}
                </p>
                <div class="countdown" data-countdown="{{this.tradability}}"></div>
            </div>
        {{/each}}
    </div>
</div>