<div id="inventory" class="inventoryBuildingBlock">
    <div class="row">
        {{#each items}}
            <div class="inventoryItem col {{this.quality}}" id="inventoryItem{{@index}}" data-name="{{this.name}}" data-keywords="{{this.keywords}}" data-exterior="{{this.exterior}}" data-category="{{this.category}}" data-weapon="{{this.weapon}}" data-nametag="{{this.nametag}}">
                <h5>
                    {{this.name}}
                </h5>
                <p>{{this.exterior}}</p>
                    <img src="{{this.icon}}" alt="{{this.name}}">
                <p>
                    <a class="actionIcons inspect" href="{{this.inspectLink}}"><i class="far fa-eye 2-x" aria-hidden="true" title="Inspect in-game"></i></a>
                    <a class="actionIcons" target="_blank" href="{{this.marketlink}}"><i class="fas fa-chart-line 2-x" aria-hidden="true" title="Check price on Market"></i></a>
                </p>
                <p class="nametag">
                    {{this.nametag}}
                </p>
                <p class = "tradability">
                    {{this.tradability}}
                </p>
                <div class="countdown" data-countdown="{{this.tradability}}"></div>
            </div>
        {{/each}}
    </div>
</div>