<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48407333-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-48407333-2');
    </script>

    <meta name="google-site-verification" content="UHZYt77KEObjJKp8NrG-qLbsEIswXUVAi13kkhm-WLI" />

    <meta charset="UTF-8">
    <title>What's trade locked?</title>

    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/whatstradelocked.css" rel="stylesheet">
    <link href="/css/etc/lightbox.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/etc/lightbox.js"></script>
    <script src="/js/whatstradelocked.js"></script>


</head>
<body>
{{> navigation}}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">What's trade locked?</h1>
            <p class="lead">(In early development)</p>
            <p>Find out which items have trade restrictions and when they are tradable. Enter someone’s steam profile link to load their inventory. </p>
            <br>
            <p>Steam profile link: </p>
            <form action="/" method="post">
                <!--<label for="steamid">Steam profile link: </label>-->
                <input id="steam_user_input" type="text" name="steam_user_input" value="">
                <input type="submit" value="Load inventory">
                <!--<label for ="example">Example: https://steamcommunity.com/id/gergelyszabo/</label>-->
            </form>
            <p>Example: https://steamcommunity.com/id/gergelyszabo/</p>
            <br>

            <p>
                What is a trade lock? At the end of March of 2018 Valve implemented a <a target="_blank" href="http://blog.counter-strike.net/index.php/2018/03/20308/">new update to CS:GO trading</a>.
                They restrict the trading of newly received items by locking them to the account for 7 days.
                Once an inventory is loaded there is a countdown displayed for every item that marks the end of this seven-day trade cooldown.
            </p>

            <div id="error">
                <span>{{error}}</span>
            </div>
            <br>
            <div id="inventory">
            {{#each items}}
                <div class="inventoryItem" id="inventoryItem{{@index}}">
                    <h4>
                    {{this.name}}
                    </h4>
                    <p>{{this.exterior}}</p>
                    <a href="{{this.iconLarge}}" data-lightbox="{{this.name}} {{this.exterior}}">
                    <img src="{{this.icon}}" alt="{{this.name}}">
                    </a>
                    <p class = "tradability">
                        {{this.tradability}}
                    </p>
                    <div class="countdown" data-countdown="{{this.tradability}}"></div>
                </div>
            {{/each}}
            </div>
        </div>
    </div>
</div>
<br>
{{> footer}}

<!--<h1>{{pageTitle}}</h1>-->

<!--<p>some text</p>-->
<!--<p>{{screamIt 'screaaam'}}</p>-->
</body>
</html>