<!DOCTYPE html>
<html lang="en">
<head>
    {{> analytics}}

    <meta charset="UTF-8">
    <title>{{profiledetails.personaname}} - What's trade locked?</title>

    {{> include}}


</head>
<body>
{{> navigation}}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <div id="profileInfo">
                        <h3 id="profileName" class="{{getStateClass profiledetails.personastate}}">{{profiledetails.personaname}}'s inventory</h3>
                        <a href="{{profiledetails.profileurl}}" target="_blank">
                            <img src="{{profiledetails.avatar}}" id="avatar" class="{{getStateClass profiledetails.personastate}}" alt="Avatar of {{profiledetails.personaname}}">
                        </a>
                        <div class="{{getStateClass profiledetails.personastate}}">{{profiledetails.personastate}}</div>
                    </div>
                </div>
                <div class="col-lg-8 text-center">
                    <div id="filters">
                        <h3>Filters</h3>
                        <p>Coming soon.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div id="search">
                        <h3>Search</h3>
                        <p>Coming soon.</p>
                    </div>
                </div>
            </div>
            {{> inventorycontents}}
        </div>
    </div>
</div>

{{> footer}}
</body>
</html>