<!DOCTYPE html>
<html lang="en">
<head>
    {{> analytics}}

    <meta charset="UTF-8">
    <title>{{profiledetails.personaname}} - What's trade locked?</title>

    {{> include}}


</head>
<body>
{{> navigation}}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <div id="profileInfo" class="inventoryBuildingBlock">
                        <h3 id="profileName" class="{{getStateClass profiledetails.personastate}}">{{profiledetails.personaname}}'s inventory</h3>
                        <a href="{{profiledetails.profileurl}}" target="_blank">
                            <img src="{{profiledetails.avatar}}" id="avatar" class="{{getStateClass profiledetails.personastate}}" alt="Avatar of {{profiledetails.personaname}}">
                        </a>
                        <div class="{{getStateClass profiledetails.personastate}}">{{profiledetails.personastate}}</div>
                        <div class="row">
                            <div class="col-8">
                            </div>
                            <div class="col-2">
                                <a href="{{profiledetails.profileurl}}" target="_blank">
                                    <div class="filterIcon" title="Steam Profile">
                                        <i class="fab fa-steam"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2">
                                <a href="{{profiledetails.steamRepProfile}}" target="_blank">
                                    <div class="filterIcon" title="SteamRep Profile">
                                        <i class="fas fa-plus-square"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 text-center">
                    <div id="filters" class="inventoryBuildingBlock">
                        <h3>Search or filter {{this.itemCount}} items</h3>
                        <div class="container">
                            <div class="row">
                                <div id="resetFilters" class="filterIcon col-lg-1 steamOnlineBlue" data-weapon="" title="Reset all filters">
                                    <i class="fas fa-undo"></i>
                                </div>
                                <div class="col-lg-11">
                                    <p>Showing items tradable in <span id="daysleft"></span> days or less</p>
                                    <input type="range" min="0" max="8" step="1" value="8" class="slider" id="lock_time_slider">
                                </div>
                            </div>
                            <!--<input id="onPageSearch" type="text" placeholder="Search for an item in this inventory">-->
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <div id="nametagFilter" class="filterIcon" title="Nametag">
                                    <i class="fas fa-tags"></i>
                                </div>
                            </div>
                            <div class="col-1">
                                <div id="statTrakFilter" class="filterIcon" title="StatTrak™">
                                    <i class="fas fa-certificate"></i>
                                </div>
                            </div>
                            <div class="col-10">
                                <input id="onPageSearch" type="text" placeholder="Search for an item in this inventory">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="filterWeaponCategory">Knives</p>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="Falchion Knife" title="Falchion Knife">&#xe200</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="Gut Knife" title="Gut Knife">&#xe1fa</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="Shadow Daggers" title="Shadow Daggers">&#xe204</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="Flip Knife" title="Flip Knife">&#xe1f9</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="Huntsman Knife" title="Huntsman Knife">&#xe1fd</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="Bowie Knife" title="Bowie Knife">&#xe202</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="Bayonet" title="Bayonet">&#xe1f4</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="M9 Bayonet" title="M9 Bayonet">&#xe1fc</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="Butterfly Knife" title="Butterfly Knife">&#xe203</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="Karambit" title="Karambit">&#xe1fb</div>
                            </div>
                            <div class="col">
                                <p class="filterWeaponCategory">Rifles</p>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="AK-47" title="AK-47">&#xe007</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="AUG" title="AUG">&#xe008</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="AWP" title="AWP">&#xe009</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="FAMAS" title="FAMAS">&#xe00a</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="G3SG1" title="G3SG1">&#xe00b</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="Galil AR" title="Galil AR">&#xe00d</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="M4A4" title="M4A4">&#xe00e</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="M4A1-S" title="M4A1-S">&#xe010</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="SCAR-20" title="SCAR-20">&#xe026</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="SG 553" title="SG 553">&#xe00b</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="SSG 08" title="SSG 08">&#xe028</div>
                            </div>
                            <div class="col">
                                <p class="filterWeaponCategory">Pistols</p>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="CZ75-Auto" title="CZ75-Auto">&#xe03f</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="Desert Eagle" title="Desert Eagle">&#xe001</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="Dual Berettas" title="Dual Berettas">&#xe002</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="Five-Seven" title="Five-Seven">&#xe003</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="Glock-18" title="Glock-18">&#xe004</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="P2000" title="P2000">&#xe013</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="P250" title="P250">&#xe020</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="R8 Revolver" title="R8 Revolver">&#xe040</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="Tec-9" title="Tec-9">&#xe01e</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="USP-S" title="USP-S">&#xe03d</div>
                            </div>
                            <div class="col">
                                <p class="filterWeaponCategory">SMGs</p>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="MAC-10" title="MAC-10">&#xe011</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="MP7" title="MP7">&#xe021</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="MP9" title="MP9">&#xe022</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="PP-Bizon" title="PP-Bizon">&#xe01a</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="P90" title="P90">&#xe024</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="UMP-45" title="UMP-45">&#xe018</div>
                                <div class="container-fluid"><br></div>
                                <!--<div class="container-fluid filterIcon" title="Pin">-->
                                    <!--<i class="fas fa-thumbtack"></i>-->
                                <!--</div>-->
                                <!--<div class="container-fluid filterIcon" title="Key">-->
                                    <!--<i class="fas fa-key"></i>-->
                                <!--</div>-->
                                <!--<div class="container-fluid filterIcon" title="Gloves">-->
                                    <!--<i class="fas fa-american-sign-language-interpreting"></i>-->
                                <!--</div>-->
                            </div>
                            <div class="col">
                                <p class="filterWeaponCategory">Heavy</p>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="MAG-7" title="MAG-7">&#xe01b</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="Nova" title="Nova">&#xe023</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="Sawed-Off" title="Sawed-Off">&#xe01d</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="XM1014" title="XM1014">&#xe019</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="M249" title="M249">&#xe03c</div>
                                <div class="container-fluid filterIcon filterWeaponIcon" data-weapon="Negev" title="Negev">&#xe01c</div>
                                <div class="container-fluid"><br></div>
                                <!--<div class="container-fluid filterIcon" title="Music Kit">-->
                                    <!--<i class="fas fa-music"></i>-->
                                <!--</div>-->
                                <!--<div class="container-fluid filterIcon" title="Graffiti">-->
                                    <!--<i class="fas fa-paint-brush"></i>-->
                                <!--</div>-->
                                <!--<div class="container-fluid filterIcon" title="Weapon Case">-->
                                    <!--<i class="fas fa-box"></i>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> inventorycontents}}

{{> footer}}
</body>
</html>